/*sarah note - header only*/
.default_color {
    background-color: #E17D1F !important
}

/* sarah note - cant find*/
.default_color_text {
    color: green !important
}

/*sarah note - can't find*/
.icon-block {
    padding: 0 15px;
}

/* sarah - cant find*/
#intro,
#work,
#team {
    padding-top: 4rem
}

/* sarah note - starts just below the find a new favorite beer button*/
#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
}

/*sarah nore - cant find*/
#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

/* sarah note - title header only - was at 100 for font weight*/
.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    /*font-weight: 100;*/
    font-weight: 300;
    color: white
}

/* sarah note - can't find elements affected by this*/
.brand-logo {
    position: absolute;
    color: red;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px
}

/*sarah note - placement of header nav bar only*/
.logo-navbar{
    height: 3rem;
    padding-right: .5rem
}

/* - sarah note - affects the "find your.." text above maps*/
.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}
/* - sarah note - affects the "...beer" text above maps*/
.span_h2 {
    font-weight: 300;
    color: #E17D1F 
}

/* sarah note - Styles to search by, Our Favorites and The Team text*/
.text_b {
    color: #e17d1f
}

/*sarah note - cant find*/
.in {
    font-weight: 400 !important;
    font-style: normal !important
    color:blue;
}

/*sarah note - cant find*/
.promo i {
    color: #E17D1F ;
    font-size: 7rem;
    display: block
}

/*sarah note - for team picks*/
.card-content a {
    color: red 
}

/*sarah note - for team picks*/
.card-content a:hover {
    color: #E17D1F 
}

/*sarah note - cant find*/
#work,
#team {
    background: rgb(247, 247, 247)
}

/*sarah note - can't find*/
.text_pink {
    color: red
}

/*sarah note nav bar lettering*/
nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px
}

/*sarah note - cant find*/
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden
}

/*sarah note - cant find*/
.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: red;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite
}

/*sarah note main title - flashing background*/
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden
}

/*sarah note - main title - last word in flashing title*/
.cd-headline.type .cd-words-wrapper.selected b {
    color: #E17D1F
}

.cd-headline.type b {
    visibility: hidden
}

.cd-headline.type b.is-visible {
    visibility: visible
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

/*sarah note - cant find*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1200
}

/*sarah note - cant find*/
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white
    }

    #frenchie{
    display: none;
}
}

input,
textarea {
    border-bottom: 1px solid #fff
}

nav a.button-collapse {
    left: -25px
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px
}

.card-avatar .card-content {
    text-align: center
}

.card .card-content p {
    margin: 15px 0px
}

.card-avatar .card-content i {
    font-size: 1.5rem
}

.card-avatar .card-content .card-title {
    line-height: 30px !important
}

.parallax-container {
    max-height: 500px
}

footer.page-footer {
    margin-top: 0px !important;

}
